<div *ngIf='profile'>
    <div class='card'>
        <div class="card-heading">
            <div>
                <h3>{{profile.name}} <p>{{profile.login}}</p> <span>{{profile.location}}</span></h3>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{profile.avatar_url}}" class="rounded-circle img-fluid" alt="profile">
                </div>
                <div class="col-sm-5">
                    <ul class="list-group">
                        <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
                        <li class="list-group-item" *ngIf="profile.hireable">Available for hire</li>
                        <li class="list-group-item" *ngIf="profile.blog"> <a href="{{profile.blog}}" target="
                            _blank"></a>{{profile.blog}} </li>
                        <li class="list-group-item" *ngIf="profile.email"> <a href="{{profile.email}}" target="_blank">{{profile.email}}</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div>
                        <p>
                            <span class="btn btn-info mt-1 btn-sm">{{profile.followers}} Followers</span>&nbsp;
                            <span class="btn btn-info mt-1 btn-sm" >Following {{profile.following}}</span>&nbsp;
                            <span class="btn btn-warning mt-1">{{profile.public_gists}} Public Gists</span>&nbsp;
                            <span class="btn btn-primary mt-1">{{profile.public_repos}} Public Repositiries</span>&nbsp;
                        </p>
                        <p>
                            <a href="{{profile.html_url}}" target="_blank" class="btn btn-success" >view profile on github</a>
                        </p>
                        <div class="card">
                            <div class="card-heading">
                                <h3 class="card-title">Repositories</h3>
                            </div>
                            <div class="card-body" *ngFor='let repo of repos'>
                                <p>
                                    {{repo.name}} <a href="{{repo.html_url}}" target="_blank"><span class="btn btn-info">Expand</span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
